<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css">
  <link rel="stylesheet" href="./styles.css">
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container"> <a class="navbar-brand" href="#">
          <i class="fa d-inline fa-lg fa-circle-o"></i>
          <b> BRAND</b>
        </a>
        <button class="navbar-toggler navbar-toggler-right border-0" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar11">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"> <a class="nav-link" href="#">Features</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Pricing</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Product</a> </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"> <a class="nav-link" href="#">Services</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">FAQ</a> </li>
          </ul>
          <span class="navbar-text">
            Welcome, {{ user.name }}
          </span>
          <a class="btn btn-primary navbar-btn ml-md-2">Contact us</a>
        </div>
      </div>
    </nav>
    <div class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
              <products-list 
              :selected="product"
              :products="products"
              @select="selectProduct($event)"></products-list>
          </div>
          <div class="col-md-6">
            <div v-if="product">
              <product-details :product="product"></product-details>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-6 p-3"> <i class="d-block fa fa-circle-o fa-5x text-primary"></i> </div>
          <div class="col-lg-2 col-6 p-3">
            <p> <a href="https://goo.gl/maps/AUq7b9W7yYJ2" target="_blank"> Fake street, 100 <br>NYC - 20179, USA</a>
            </p>
            <p> <a href="tel:+246 - 542 550 5462">+1 - 256 845 87 86</a> </p>
            <p class="mb-0"> <a href="mailto:info@pingendo.com">info@pingendo.com</a> </p>
          </div>
          <div class="col p-3">
            <h5> <b>About</b> </h5>
            <p class="mb-0"> I am alone, and feel the charm of existence in this spot, which was created for the bliss
              of
              souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil
              existence.</p>
          </div>
          <div class="col-4">
            <login-form></login-form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="mb-0 mt-2">© 2014-2018 Pingendo. All rights reserved</p>
          </div>
        </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="./app.js"></script>
</body>

</html>