header {
    display: none;
}

.no-print {
    display: none;
}

html {
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
body {
    font-size: 1em;
}
header,
footer {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
    line-height: 1.8em;
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5 {
    /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}
h1 {
    font-size: 4.209rem;
    margin: 1em 0 0.5em 0;
    font-size: 5vw;
}
h2 {
    font-size: 3.157rem;
}
h3 {
    font-size: 2.369rem;
}
h4 {
    font-size: 1.777rem;
}
h5 {
    font-size: 1.333rem;
}

/* Article header */

h5 a[href="#"] {
    display: none;
}

/* end Article header */

.container {
    width: 100%;
    margin: 0 10px;
}

figure.img-left {
    float: left;
    margin: 0px 3em 0.7em 0em;
}
.float-right {
    float: right;
}

a[href]{
    text-decoration: none;
}
a[href]::after {
    content: '    ( '  attr(href)   ' ) ';
}
