html {
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
body {
    font-size: 1em;
}
header,
footer {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
    line-height: 1.8em;
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5 {
    /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}
h1 {
    font-size: 4.209rem;
    margin: 1em 0 0.5em 0;
    font-size: 5vw;
}
h2 {
    font-size: 3.157rem;
}
h3 {
    font-size: 2.369rem;
}
h4 {
    font-size: 1.777rem;
}
h5 {
    font-size: 1.333rem;
    position: relative;
    text-align: center;
}

/* Article header */

h5::before {
    content: "\00BB";
    padding-right: 0.3em;
    position: absolute;
    left: 0;
}

h5 a[href="#"] {
    float: right;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    color: #ccc;
}

/* end Article header */

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 50em;
}

a:focus {
    outline: 1px solid green;
}
p::first-letter {
    font-size: 2.5em;
}

p::first-line {
    background: #eee;
}

header.with-top-menu {
    margin-top: 3.5em;
}

ul#menu,
#menu ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    height: 2.5em;
    align-content: stretch;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    /* margin: 0; */
    max-width: 50em;
    margin: 0 auto;
}

#menu a {
    text-decoration: none;
    font-family: "Arial", "Times New Roman";
    color: black;
}

#menu li:hover > a {
    color: red;
}
#menu li:hover {
    border-color: red;
}

#menu li {
    display: inline-block;
    border-bottom: 1px solid #666;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 0.2em;
    min-height: 2.5em;
    position: relative;
}
#menu ul {
    display: none;
    position: absolute;
    flex-direction: column;
    width: 100%;
    background: #fff;
    height: auto;
    left: 0px;
    top: 2.5em;
}
#menu li:hover ul {
    display: flex;
}

#menu li {
    text-transform: uppercase;
    flex: 1 1 100%;
}

#menu .important {
    font-weight: bold;
}

#menu #about {
    font-style: italic;
}

#menu .active {
    color: blue;
}

figure.img-left {
    float: left;
    margin: 0px 3em 0.7em 0em;
}
.float-right {
    float: right;
}

.article-nav {
    float: right;
    padding: 0px 30px 0px 0px;
    line-height: 2.5rem;
}

.article-nav ul {
    list-style: none;
}

@media screen and (max-width: 330px) {
    header.with-top-menu {
        margin-top: 0;
    }
    .container {
        width: calc(100% - 5px - 5px);
        margin: 0 5px;
    }
    #redbar {
        display: none;
    }
    ul#menu,
    #menu ul {
        flex-direction: column;
        position: static;
        height: auto;
    }
}
